In [1]:
print("hello world")

hello world

In [45]:
customers = [
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
{
"customer id": 1,
"first name":"Ann",
"last name": "Sattermyer",
"address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
]

In [55]:
{customer['customer id']: customer
  for customer in customers}

{0: {'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'age': 30},
 1: {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'age': 30},
 2: {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'age': 30}}

In [54]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'age': 30},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'age': 30},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'age': 30}]

In [18]:
for customer in customers:
    customer['age'] = 10

In [56]:
customer

{'customer id': 2,
 'first name': 'Jill',
 'last name': 'Somers',
 'address': '3 Main St.',
 'age': None}

In [50]:
[customer.setdefault('age', 30) for customer in customers]

[30, 30, 30]

In [ ]:
for customer in customers:
    {**customer, 'age':None}

In [ ]:
customers = [{**customer ,'age':None} for customer in customers]

[30, 30, 30]

In [33]:
new_dic_list_with_age = []

for customer in customers:
    customer.setdefault("age")
    new_dic_list_with_age.append(customer)

new_dic_list_with_age

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'age': None},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'age': None},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'age': None}]

In [35]:
new_dic_list_with_age = [{**customer, 'age': None} for customer in customers]

In [36]:
new_dic_list_with_age

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'age': None},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'age': None},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'age': None}]

In [38]:
{customer['customer id']: customer for customer in customers}

{0: {'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 1: {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 2: {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}}

In [ ]:
def bmi(height,weight):
    body_mass = weight / (height **2)
    return body_mass

height = float(input("Enter Your height: "))

weight = float(input("Enter Your weight: "))
bmi(height,weight)

19.531249999999996

In [ ]:
#key-words argument's
#positional_arguments

In [1]:
student_data = {}

student_data['name']='hammad'
student_data['age']=22
student_data['city']='Karachi'

student_data

{'name': 'hammad', 'age': 22, 'city': 'Karachi'}

In [2]:
book = {"title": "Python Basics", "author": "John Doe", "pages": 300}
# Change pages to 350
# Add a new key "price" with value 29.99
# Print all keys

In [4]:
book['pages']  = 350

In [6]:
book
book.setdefault('price',29.99)

29.99

In [7]:
book

{'title': 'Python Basics', 'author': 'John Doe', 'pages': 350, 'price': 29.99}

In [10]:
numbers = [1, 2, 3, 4, 5]
number_dict = {}

In [23]:
number_dict = {num:num**2 for num in numbers}

In [24]:
number_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [25]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
# Merge them into a new dictionary
new_dict = dict1 | dict2

In [26]:
new_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
sentence = "the quick brown fox jumps over the lazy dog"
# Count frequency of each word
# Output: {'the': 2, 'quick': 1, 'brown': 1, ...}
dict_sentence = {sentence}

word_counts = sentence.lower().split()

word_dic = {}

for word_count in word_counts:
    if word_count in word_dic:
        word_dic[word_count] += 1
    else:
        word_dic[word_count] = 1

In [36]:
word_dic

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [ ]:
def gen():
    yield 1
    yield 2
    yield 3

g = gen()
print(next(g))
print(next(g))

1
2
3

In [33]:
import itertools
c = itertools.cycle([1,2,3])
for i in range(5):
    print(next(c), end=" ")

1 2 3 1 2