In [1]:
print("hello world")

hello world

In [45]:
customers = [
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
{
"customer id": 1,
"first name":"Ann",
"last name": "Sattermyer",
"address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
]

In [55]:
{customer['customer id']: customer
  for customer in customers}

{0: {'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'age': 30},
 1: {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'age': 30},
 2: {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'age': 30}}

In [54]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'age': 30},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'age': 30},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'age': 30}]

In [18]:
for customer in customers:
    customer['age'] = 10

In [56]:
customer

{'customer id': 2,
 'first name': 'Jill',
 'last name': 'Somers',
 'address': '3 Main St.',
 'age': None}

In [50]:
[customer.setdefault('age', 30) for customer in customers]

[30, 30, 30]

In [ ]:
for customer in customers:
    {**customer, 'age':None}

In [ ]:
customers = [{**customer ,'age':None} for customer in customers]

[30, 30, 30]

In [33]:
new_dic_list_with_age = []

for customer in customers:
    customer.setdefault("age")
    new_dic_list_with_age.append(customer)

new_dic_list_with_age

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'age': None},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'age': None},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'age': None}]

In [35]:
new_dic_list_with_age = [{**customer, 'age': None} for customer in customers]

In [36]:
new_dic_list_with_age

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'age': None},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'age': None},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'age': None}]

In [38]:
{customer['customer id']: customer for customer in customers}

{0: {'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 1: {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 2: {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}}

In [ ]:
def bmi(height,weight):
    body_mass = weight / (height **2)
    return body_mass

height = float(input("Enter Your height: "))

weight = float(input("Enter Your weight: "))
bmi(height,weight)

19.531249999999996

In [ ]:
#key-words argument's
#positional_arguments

In [1]:
student_data = {}

student_data['name']='hammad'
student_data['age']=22
student_data['city']='Karachi'

student_data

{'name': 'hammad', 'age': 22, 'city': 'Karachi'}

In [2]:
book = {"title": "Python Basics", "author": "John Doe", "pages": 300}
# Change pages to 350
# Add a new key "price" with value 29.99
# Print all keys

In [4]:
book['pages']  = 350

In [6]:
book
book.setdefault('price',29.99)

29.99

In [7]:
book

{'title': 'Python Basics', 'author': 'John Doe', 'pages': 350, 'price': 29.99}

In [10]:
numbers = [1, 2, 3, 4, 5]
number_dict = {}

In [23]:
number_dict = {num:num**2 for num in numbers}

In [24]:
number_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [25]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
# Merge them into a new dictionary
new_dict = dict1 | dict2

In [26]:
new_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
sentence = "the quick brown fox jumps over the lazy dog"
# Count frequency of each word
# Output: {'the': 2, 'quick': 1, 'brown': 1, ...}
dict_sentence = {sentence}

word_counts = sentence.lower().split()

word_dic = {}

for word_count in word_counts:
    if word_count in word_dic:
        word_dic[word_count] += 1
    else:
        word_dic[word_count] = 1

In [43]:
jumla = 'kya he bat hai meri hi bat hai'

words = jumla.lower().split()
#split ham use krty hain break krny k liye words ko 
print(words)

alag_alag = {}

for word in words:
    if word in alag_alag:
        alag_alag[word] += 1
    else:
        alag_alag[word] = 1

print(alag_alag)

['kya', 'he', 'bat', 'hai', 'meri', 'hi', 'bat', 'hai']
{'kya': 1, 'he': 1, 'bat': 2, 'hai': 2, 'meri': 1, 'hi': 1}

In [ ]:
def gen():
    yield 1
    yield 2
    yield 3

g = gen()
print(next(g))
print(next(g))

1
2
3

In [33]:
import itertools
c = itertools.cycle([1,2,3])
for i in range(5):
    print(next(c), end=" ")

1 2 3 1 2

In [64]:
students = [
    {"id": 1, "name": "Alice", "grades": {"math": 85, "science": 92}},
    {"id": 2, "name": "Bob", "grades": {"math": 78, "science": 88}}
]
# Add English grade of 90 to all students
# Calculate average grade for each student

[{**student, "English": 90  } for student in students]

[{'id': 1,
  'name': 'Alice',
  'grades': {'math': 85, 'science': 92},
  'English': 90},
 {'id': 2,
  'name': 'Bob',
  'grades': {'math': 78, 'science': 88},
  'English': 90}]

In [65]:
students[1]['grades']['English'] = 90

In [51]:
students

[{'id': 1,
  'name': 'Alice',
  'grades': {'math': 85, 'science': 92, 'English': 90}},
 {'id': 2,
  'name': 'Bob',
  'grades': {'math': 78, 'science': 88, 'English': 90}}]

In [68]:
students_dict = {student['id']:student for student in students}

In [88]:
students_dict[1]

{'id': 1, 'name': 'Alice', 'grades': {'math': 85, 'science': 92}}

In [ ]:
products = {
    "laptop": 1200,
    "mouse": 25,
    "keyboard": 80,
    "monitor": 300,
    "headphones": 150
}
# Create new dict with products costing more than $100
new_product = {product['product_cost']: 100  for product in products}

In [73]:
new_product = {product:price for product,price in products.items() if price >100}

In [74]:
new_product

{'laptop': 1200, 'monitor': 300, 'headphones': 150}

In [80]:
original = {"a": 1, "b": 2, "c": 1, "d": 3}
# Invert to: {1: ["a", "c"], 2: ["b"], 3: ["d"]}

In [81]:
inverted = {}
for key,values in original.items():
    inverted.setdefault(values,[]).append(key)

print(inverted)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}

In [35]:
# Use this data for exercises:
employees = [
    {"id": 1, "name": "John", "department": "IT", "salary": 60000},
    {"id": 2, "name": "Sarah", "department": "HR", "salary": 55000},
    {"id": 3, "name": "Mike", "department": "IT", "salary": 65000},
    {"id": 4, "name": "Lisa", "department": "Finance", "salary": 70000}
]
# Create shopping cart that can:
# - Add items with price and quantity
# - Remove items
# - Calculate total cost
# - Apply discount codes

In [ ]:
class AddItem:
    def __init__(self, id, name, department, salary):
        self.id = id
        self.name = name
        self.department = department
        self.salary = salary

# Initialize the employees list
employees = []

# Function to input employee details
def employee_details():
    id = int(input("Enter your id: "))
    name = input("Enter your name: ")
    department = input("Enter your department: ")
    salary = int(input("Enter your salary: "))
    return id, name, department, salary

# Function to remove an employee from the list (popping the last item)
def remove_item(employees):
    if employees:  # Check if the list is not empty
        employees.pop()
    return employees

# Function to calculate the total salary of all employees
def total_salary(employees):
    total_salary = sum(employee.salary for employee in employees)
    return total_salary

def dicount(employees):
    if employees:
        salary = [employee.salary * 0.2 for employee in employees]
        return salary
    else:
        print("no discount")
    return []

# Get employee details
id, name, department, salary = employee_details()

# Create AddItem object
add_item = AddItem(id, name, department, salary)

# Add the employee to the employees list
employees.append(add_item)

# Print the total salary
print(f"Total salary of all employees: {total_salary(employees)}")

Total salary of all employees: 808080

In [68]:
remove_item(employees)

[]

In [69]:
total_salary(employees)

0

In [70]:
dicount(employees)

no discount

[]

In [1]:
products = {
    "laptop": 1200,
    "mouse": 25,
    "keyboard": 80,
    "monitor": 300,
    "headphones": 150
}

In [2]:
products['mobile'] = 'samsung'

In [3]:
products

{'laptop': 1200,
 'mouse': 25,
 'keyboard': 80,
 'monitor': 300,
 'headphones': 150,
 'mobile': 'samsung'}

In [5]:
products1 = {
    "suolice": 1200,
    "soni": 25,
    "system": 80,
    "iphone": 300,
    "MAC": 150
}

In [6]:
new_pro = products | products1

In [7]:
new_pro

{'laptop': 1200,
 'mouse': 25,
 'keyboard': 80,
 'monitor': 300,
 'headphones': 150,
 'mobile': 'samsung',
 'suolice': 1200,
 'soni': 25,
 'system': 80,
 'iphone': 300,
 'MAC': 150}

In [10]:
dict1 = {'fname','lname','occupation'}

In [11]:
dict2 = {'muhammad','salman','front-end dev'}

In [14]:
new_dict = {}

In [ ]:
new_dict = new_dict.fromkeys(dict1,dict2)

In [16]:
new_dict

{'occupation': {'front-end dev', 'muhammad', 'salman'},
 'lname': {'front-end dev', 'muhammad', 'salman'},
 'fname': {'front-end dev', 'muhammad', 'salman'}}

In [17]:
type(new_dict)

dict

In [20]:

def add_num(name,num1,num2=5):
    sum = num1+num2
    print(f'{name} total is {sum}')

In [ ]:
num1 = int(input('ENter any number'))
num2 = int(input('ENter any number'))
name = input('ENter your name ')
add_num(name=name,num1=num1,num2=num2) #function khud value pock kry ga agr argument kisi bhi squence mai bhejay jain

khan total is 7

In [35]:
def add_num(name, *nums):
    
    print(f'{name}, the total is {sum(nums)}')

In [ ]:
def add_num(name, **nums):
    
    print(f'{name}, the total is {sum(nums)}')

In [37]:
add_num('khan',1,2,3,4,4,5,6,7)

khan, the total is 32

In [55]:
#task: give me the sum of the values passesd as unknowns args to function args
#task: give me the sum of the values passesd as unknowns args to function as kwargs
def add_dict(name, **nums):
    print(f'{name} sum of number is {sum(nums.values())}')

In [56]:
add_dict('khan',num1=1,num2=3)

khan sum of number is 4

In [59]:
def func(a,b):
    def funcInfunc():
        sum = a + b 
        return sum
    return funcInfunc()

print(func(5,6))

11

In [ ]:
def fectorial(n):
    if (n==0 or n==1):
        return 1
    else:
        return n*fectorial(n-1)
    
print(fectorial(4))
#while loop on page 151

24

In [69]:
num = int(input('enter any number '))
fectorial = 1
while (num > 0):
    fectorial*=num
    num-=1


print(fectorial)

6

In [73]:
while True:
    user_name = input('Enter your name')
    if (user_name == 'quit'):
        break
    else:
        print(user_name)

khan
new
old
fulan

## class
- every thing belong to some specific **class**
- every class can have its **object**
- every class have it own **methods**

- every class have two things
   - 1- characteristics --> attribute or properties
   - 2- Behaviour/Action --> methods

In [ ]:
class Human:
    def __init__(self,hand,eye,name):
        self.hand = hand
        self.eye = eye
        self.name = name


    def human_eye(self):
        print(f'{self.name} is seeing with  {self.eye} eye')

    def human_hand(self):
        print(f'{self.name} is veiwing {self.hand}')


human_object = Human('hi','brown','khan') #Object of Human class

In [86]:
human_object.human_hand()
human_object.human_eye()

khan is veiwing hi
khan is seeing with  brown eye

In [ ]:
class Bank:
    def __init__(self,balance,deposite,name):
        self.balance = balance
        self.deposite = deposite
        self.name = name

    def bank_balance(self):
        
        print(f'{self.balance}')

###Scenario 1: Grocery Shopping List
- You are creating a program to manage a grocery shopping list. Users should be able to add items,  - remove items, and display the current list.

In [ ]:
grocery_shopping_lists = ['piyaz','tmator']


for grocery_shopping_list in grocery_shopping_lists:
    user_grocery = input('Enter Your grocery...')
    if user_grocery == 'quit':
        break
    else:
        new_grocery_shopping_lists = []
        grocery_shopping_lists.append(user_grocery)
        # new_grocery_shopping_lists.append(grocery_shopping_list)
        new_product = 
        # print(grocery_shopping_list)
        print(new_product)

In [12]:
new_grocery_shopping_list

['tendy']

In [17]:
class AnyThing:
    def __init__(self,count,courses,name):
        self.count = count
        self.courses = courses
        self.name = name


    def detail(self,courses):
        print(f'{self.name} have {self.count} courses...!')
        course =map( lambda x : x , courses)
        print(*course)
        # print(f'cources are: {*course}')

In [18]:
za = AnyThing(3,'AI','Zaitoon Ashraf')

In [19]:
za.detail(['AI','DE','WEB'])

Zaitoon Ashraf have 3 courses...!
AI DE WEB

# class initilaization with program name
- Constructors
    - attributes
- method

## OOP(object orianted programing)
- Inheritence -> (functionality form ancestor's) => Multiple Enharitence
- Abstraction ->(raw data)
- Polymorphism-> (single class can be used for multiple things)
- Encaptulation-> (data privacy)

In [1]:
class Parent:
    def __init__(self,eye_color,hair_color):
        self.eye_color = eye_color
        self.hair_color = hair_color

    def can_print(self):
        print(f'abilty to have things form parents')

In [7]:
ancestor = Parent('brown','blond')

In [8]:
ancestor.can_print()

abilty to have things form parents

In [ ]:
class Child(Parent):
    pass

In [11]:
chlid_object = Child('green','black')

In [12]:
chlid_object.can_print()

abilty to have things form parents

In [19]:
class Child(Parent):
    def __init__(self,eye_color,hair_color, skin_color):
        super().__init__(eye_color,hair_color)
        self.skin_color = skin_color

    def can_be(self):
        print(f'Nigga Please...! {self.eye_color} and {self.skin_color}')

In [20]:
obj = Child('green','Yesllow','pintch black')

In [21]:
obj.can_be()

Nigga Please...! green and pintch black

## create a class with name 'Father' which have two attributes and one method 
- create a class with name child that inherit charachtatrictics of father should have atleast one more attriutee and method other then father class

In [22]:
class Father:
    def __init__(self,height,voice):
        self.height = height
        self.voice = voice

    def can_print(self):
        print(f'What i have got from my father is a {self.voice} voice and {self.height} height')

In [31]:
class Child(Father):
    def __init__(self,height,voice,hair,vision):
        super().__init__(height,voice)
        self.hair = hair
        self.vision = vision

    def new_one(self):
        print(f'What i have got from my father is a {self.voice} voice and {self.height} height')
        print(f'hairs {self.hair} and {self.vision} vision')

In [32]:
obj_inh = Child('18 ft','deep','black','low')

In [33]:
obj_inh.new_one()

What i have got from my father is a deep voice and 18 ft height
hairs black and low vision

# method Overriding && OverLoading
- OverRiding work if we set a parent class and in parent class we define method and for the same funtionality with more attributes we set method in child class then the paresnt method will be overRide by the chile class
- OverLoading we use multiple type

In [48]:
from typing import overload
class Add:


    @overload
    def add(self,a:int,b:int) -> int:
        ...
    @overload
    def add(self,a:str,b:str) -> str:
        ...

    @overload
    def add(self,a:float,b:float) -> float:
        ...

    def add(self,a,b):
        if isinstance(a,int) and isinstance(b,int):
            return a + b
        elif isinstance(a,str) and isinstance(b,str):
            return a + b
        elif isinstance(a,float) and isinstance(b,float):
            return a + b
        else:
            print('you fucked UP!!!')


add_obj = Add()
print(add_obj.add(2,7))
print(add_obj.add(2.3,2.3))
print(add_obj.add('hello','world'))

9
4.6
helloworld